body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--c-midnight);
  color: var(--c-white);
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
}

a:visited {
  color: var(--c-white);
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }
}
