.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 2px var(--c-white);
  border-bottom: solid 2px var(--c-white);
  margin-top: 50px;
  padding: 30px 0;
  gap: 50px;
}

.footer__arrange-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.footer__arrange-container--menu {
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
}

.footer__text {
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__social-item {
  background-color: var(--c-berry);
  border-radius: 999px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__header {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.footer__subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.footer__email-input {
  background-color: var(--c-white);
  color: var(--c-black);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.footer__menu {
  flex-grow: 1;
}

.footer__menu-item {
  margin: 10px;
}

.footer__menu-item--header {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

.footer__legal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 25px 0;
  font-size: 0.8rem;
  opacity: 0.7;
}

/* ========
    Desktop
   ========*/

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .footer__arrange-container {
    align-items: flex-start;
  }

  .footer__text {
    text-align: left;
  }

  .footer__arrange-container--subscribe {
    order: 1;
  }
  .footer__subscribe-form {
    align-items: flex-start;
  }

  .footer__legal {
    justify-content: space-between;
  }
}
