.landingpage-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.img_1__frame {
  margin-top: 100px;
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
  height: 350px;
  position: relative;
}

.img_1 {
  display: block;
  position: absolute;
  width: 170%;
  margin-left: -40%;
  
}

.landingpage__title {
  color: var(--c-white);
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.landingpage__title--big {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: -15px;
}

.workout-button {
  color: var(--c-white);
  background-color: hotpink;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}
