.logo {
  display: inline-block;
  padding: 40px 20px;
  border: 2px solid var(--c-white);
  transform: scale(0.6);
}

.logo__text {
  text-transform: uppercase;
  color: var(--c-white);
  font-size: 32px;
  font-weight: bold;
}

.logo__text--pink {
  color: var(--c-pink);
}

.logo__text--small {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  font-weight: normal;
  margin-top: -12px;
  letter-spacing: 1.8px;
}
