.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu-desktop {
  display: none;
}

.navbar__menu-toggle--open {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  top: 0;
  right: 0;
}

.navbar__menu-toggle {
  position: absolute;
  top: 45px;
  right: 15px;
}

.navbar__menu-checkbox {
  display: none;
}

.navbar__menu-toggle-container {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
}

input[type="checkbox"].navbar__menu-checkbox:checked
  ~ .navbar__menu-toggle-container {
  display: block;
}

.navbar__menu-container {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: var(--c-berry);
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.navbar__menu {
  padding: 25px;
  margin-bottom: 50px;
}

.navbar__menu-item {
  text-align: center;
  padding: 8px 0;
}

.navbar__button-container {
  display: flex;
  justify-content: center;
  align-items: space-between;
  font-size: 0.9rem;
}

.navbar__login {
  background-color: var(--c-pink);
  padding: 2px 8px;
}
.navbar__sign-in {
  border: solid 1px var(--c-white);
  padding: 2px 8px;
}

@media (min-width: 768px) {
  .navbar__menu-desktop {
    display: flex;
    gap: 50px;
    text-transform: uppercase;
  }

  .navbar__menu-desktop-item:hover {
    border-bottom: 5px solid var(--c-berry);
  }

  .navbar__menu-toggle {
    display: none;
  }
}
