.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu-toggle--open {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  top: 0;
  right: 0;
}

.navbar__menu-toggle {
  position: absolute;
  top: 45px;
  right: 15px;
}

.navbar__menu-checkbox {
  display: none;
}

.navbar__menu-toggle-container {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
}

input[type="checkbox"].navbar__menu-checkbox:checked
  ~ .navbar__menu-toggle-container {
  display: block;
}

.navbar__menu-container {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: var(--c-berry);
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navbar__menu-item {
  text-align: center;
}

.navbar__button-container {
  display: flex;
}
