.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
<<<<<<< HEAD
  padding: 15px;
  position: relative;
}

.navbar__button-container {
  display: flex;
}

.navbar__menu-toggle--open {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
=======
  padding: 15px 30px;
}

.navbar__menu-toggle--open {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
>>>>>>> main
  top: 0;
  right: 0;
}

.navbar__menu-checkbox {
  display: none;
}

.navbar__menu-toggle-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
}

input[type="checkbox"].navbar__menu-checkbox:checked
  ~ .navbar__menu-toggle-container {
  display: block;
}

.navbar__menu-container {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: var(--c-berry);
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
<<<<<<< HEAD
=======
}

.navbar__button-container {
  display: flex;
>>>>>>> main
}

.navbar__item {
}
