.teamsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.teamsection__grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.teamsection__grid-item {
  justify-content: center;
  align-items: center;
}

.teamsection__img {
  border-radius: 30px;
  margin-bottom: 5px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.teamsection__img-text {
  top: 120px;
  text-align: center;
}

