.trainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.trainers__grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
