.training {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.training__card-container {
  display: flex;
  flex-direction: column;
}

.training__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.training__img-subtitle {
  position: absolute;
  color: var(--c-white);
  font-size: 1.5rem;
  left: 7px;
  bottom: 4px;
}

.training__training-img {
  border-radius: 10px;
  width: 100%;
}

.training__text {
  display: none;
  opacity: 0.7;
}

.training__text-button {
  display: none;
}

@media (min-width: 768px) {
  .training {
    align-items: flex-start;
  }

  .training__card-container {
    flex-direction: row;
    gap: 30px;
  }
  .training__card {
    gap: 15px;
    align-items: flex-start;
  }
  .training__text {
    display: block;
    font-size: 0.9rem;
  }

  .training__img-subtitle {
    display: none;
  }
}
