.training {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.training__card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (min-width: 768px) {
  .training {
    align-items: flex-start;
  }

  .training__card-container {
    flex-direction: row;
    gap: 30px;
  }

  .card-bg-transparent {
    gap: 15px;
    align-items: flex-start;
  }

  .card-bg-transparent__text {
    display: block;
    font-size: 0.9rem;
  }

  .card-bg-transparent__img-subtitle {
    display: none;
  }
}
