.workout-button {
  color: var(--c-white);
  background-color: var(--c-pink);
  text-decoration: none;
  padding: 10px;
<<<<<<< HEAD
  border-radius: 6px;
}
.workout-button--dark {
  background-color: var(--c-black);
=======
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
>>>>>>> main
}
