.workout-button {
  color: var(--c-white);
  background-color: var(--c-pink);
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
}
.workout-button--dark {
  background-color: var(--c-black);
}
